body {
    font-size: 20px;
}
h1 {
    text-transform: uppercase;
}
span {
    font-weight: bold;
}
.color1 {
    color: #800080;
}
.color2 {
    color: #000080;
}
.author {
    font-size: 20px;
}
.m0 {
    margin: 0;
    margin-top: 15px;
}
input[type="submit"] {
    color: red;
    background: black;
    border-radius: 20px;
    padding: 20px 10px 20px 10px;
    border: 3px solid red;
}
input[type="submit"]:hover {
    color: #87afda;
    background: #eee;
}